:root {
    --brandblue: #2196F3;
    --brandgrey: #757575;
    --brandblack: #212121;
    --brandbackground:#2F303A;
    --footergrey:rgba(255, 255, 255, 0.6);
}
body{font-family: 'Roboto', sans-serif,Raleway;
    font-size:  14px;
    color: var(--brandblack);
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
}

a {text-decoration: none;}
ul{list-style-type: none;}

.logo{
    color: var(--brandblack);
    font-weight: 700;
    font-size: 26px;
    font-family: raleway;
    line-height: 1.19;
}
/* Класс слова WEB в логотипах */
.web{color:var(--brandblue);
}
/* Класс  хэдера навигации */
.nav-link,.contact-link
{color:var(--brandblack);
 font-weight: 500;
 letter-spacing: 0.02em;
 line-height: 1.14;
}
.nav-link.current{
    color:var(--brandblue);
}

.nav-link:hover, .nav-link:focus{
    color: var(--brandblue);
}

.hero-section{
    background-color: var(--brandbackground);
}
/* Эффективные решения для вашего бизнеса */
.hero-title{color:#FFFFFF;
font-size: 44px;
font-weight:900 ;
text-transform:uppercase;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;

}
/* Кнопка заказать услугу */
.hero-button{
    background-color: var(--brandblue);
    width: 200px;
    height: 50px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    cursor:pointer;
    line-height: 1.87;
    letter-spacing: 0.06em;
    }
/* Скрыть h2 заголовок */
.hiden{
display: none;
}
/* Преимущества заголовки */
.Benefits-title{
font-size: 14px;
text-transform: uppercase;
line-height: 1.14;
}
/* Преимущества параграфы */
.Benefits-description{
    color:var(--brandgrey);
    line-height: 1.71;
}
/* Чем мы занимаемся заголовок */
.section-title{
    font-size: 36px;
    text-align: center;
    line-height: 1.16;
    }
/* Тени и боксы команды */
.team-item{
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px -1px var(--brandgrey);
}
/* Имена команды */
.team-name{
    color: var(--brandblack);
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    line-height: 1.16;
}
/* Должности */
.team-position{
    color: var(--brandgrey);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.18;
}
/* Адрес в Киеве */
.address-link{
    color:#FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;
}
/* Слово студия в футере */
.studiofooter{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 26px;
    font-family: raleway;
    line-height: 1.19;
}
/* Футер */
.footer{
    background-color: var(--brandbackground);
}
.footer>.logo{
    color: #FFFFFF;
}
/* Кнопки фильтра */
.filter{
    font-family: inherit;
    color:var(--brandblack);
    background-color: #F5F4FA;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height:1.62;
    padding: 6px 22px;
    border: none;
}
.filter.active{
    color: white;
    background-color: var(--brandblue);
}
.filter:hover,.filter:focus{
    color:white;
    background-color:var(--brandblue);
}
/* Заголовки к картинкам фильтра */
.filter-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
/* Параграфы описания фильтра */
.filter-description{
    color:var(--brandgrey);
    font-size:16px;
    line-height: 1.87;
}
.footer .contact-link {
    color: var(--footergrey);
    font-style: normal;
    font-weight: 400;
}
/* Класс мыло+телефон */
.contact-link {
    color: var(--brandgrey);
}

.contact-link:hover,.contact-link:focus {
    color: var(--brandblue);
}